@media (min-width: 768px) 
{ 
  body {
    margin: 0%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
  }

  .top-nav .nav-item .nav-link {
    color: #fff;
  }

  .program .program-title {
    align-items: center;
    justify-content: center;
  }

  .program-title .col #line {
    width: 10vw;
    color: #ec5242;
    border: 2px solid #ec5242;
    opacity: 1;
    margin: auto;
  }

  .top-nav {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 10px;
  }

  #navbarNav {
    padding-right: 3%;
    width: 60px;
  }

  #logo {
    position: absolute;
    margin-left: 12%;
    position: inherit;
    zoom: 65%;
  }

  
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
}

.patners {
  color: white;
  font-size: 25px;
}

.logo1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.logo1 img {
  width: 8%;
  height: 4%;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: #e5e5e5;
}

.footer-logo img {
  width: 150px;
}


  .card {
    background-color: rgb(58, 61, 68, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .cards {
    margin: 0;
    gap: 2rem;
  }

  .lead {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
  }

  .card .card-body .card-title {
    color: #ec5242;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .card-body p {
    display: flex;
    justify-content: stretch;
  }

  .card-img-top {
    width: 4em;
  }

  .cards {
    justify-content: center;
  }

  .btm-nav {
    padding-top: 0;
    padding-bottom: 0;
  }

  #landing-p {
    background-image: url(./images/about-bg.png);
    height: 100vh;
  }

  .program {
    background-image: url(./images/progBac.jpeg);
  }

  .bg-toggle1 {
    color: #fff;
  }

  .program .program-title h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
  }

  .program .program-title .mt-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #landing-p h2 {
    width: 100%;
    font-size: 50px;
    color: #ec5242;
    font-weight: bolder;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #ec5242;
    background-image: url(./images/board.png);
    background-repeat: repeat;
    background-clip: border-box;
    background-size: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #landing-p h1 {
    color: #ec5242;
  }

  #landing-p h3 {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
  }

  #intro {
    font: 1em sans-serif;
    background-color: #f7f7f7;
    border: 4px solid #dedede;
    padding: 10px 10px 10px 10px;
  }

  #landing-p h3 {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #venue {
    color: #1f1d1d;
  }
}

/*Mobile phones css*/

@media (max-width: 768px) 
{ 
  body {
    margin: 0%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
  }

  .top-nav {
    display: none;
  }

  #navbarNav {
    padding: 3%;
    width: auto;
  }

  #logo {
    display: none;
  }

  #mobile-view {
    justify-content: flex-start;
  }

  #landing-p {
    background-image: url(./images/about1-bg.png);
    height: 100vh;
  }

  .bg-toggle1 {
    color: #fff;
  }

  #landing-p h2 {
    width: 100%;
    font-size: 30px;
    color: #ec5242;
    font-weight: bolder;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #ec5242;
    background-image: url(./images/board.png);
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #landing-p h1 {
    color: #ec5242;
  }

  #landing-p h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }

  #intro {
    font: 1em sans-serif;
    background-color: #f7f7f7;
    border: 4px solid #dedede;
    padding: 10px 10px 10px 10px;
  }

  #venue {
    color: #1f1d1d;
  }
}


