/*Mobile phones css*/

body {
  margin: 0%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.top-nav .nav-item .nav-link {
  color: #fff;
}

.program .program-title {
  align-items: center;
  justify-content: center;
}

.program-title .col #line {
  width: 10vw;
  color: #ec5242;
  border: 2px solid #ec5242;
  opacity: 1;
  margin: auto;
}

.top-nav {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 10px;
}

.mobileMenu {
  height: 105vh;
  top: -1px;
  position: fixed;
  right: -2px;
  left: 0;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition:ease;
  padding-left: 80px;
  background: #6070ffe6;
  backdrop-filter: blur(4px);
}

#popup .nav-item a {
  color: #fff;
}

#navbarNav {
  padding-right: 3%;
  width: 60px;
}

/* #logo {
  display: none;
  position: absolute;
  margin-left: 12%;
  position: inherit;
  zoom: 65%;
} */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
}

.patners {
  color: white;
  font-size: 25px;
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  background-color: #e5e5e5;
}

.footer-logo img {
  zoom: normal;
}

.card {
  background-color: rgb(58, 61, 68, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #fff;
}

.cards {
  margin: 0;
  gap: 3rem;
}

.lead {
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.card .card-body .card-title {
  color: #ec5242;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  gap: 4em;
}

.card-body p {
  display: flex;
  justify-content: stretch;
}

.card-img-top {
  width: 4em;
}

.cards {
  justify-content: center;
}

.btm-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.logo1 {
  display: flex;
  justify-content: center;
  width: auto;
}

.logo1 .col-md-auto img {
  width: 10em;
  height: 10em;
  object-fit: fill;
}

#landing-p {
  background-image: url(./images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.program {
  background-image: url(./images/progBac.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-toggle1 {
  color: #fff;
}

.program .program-title h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.program .program-title .mt-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-p h2 {
  width: auto;
  font-size: 4vw;
  color: #ec5242;
  font-weight: bolder;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ec5242;
  background-image: url(./images/board.png);
  background-repeat: repeat;
  background-clip: border-box;
  background-size: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#landing-p h1 {
  color: #ec5242;
}

#landing-p h3 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

#intro {
  font: 1em sans-serif;
  background-color: #f7f7f7;
  border: 4px solid #dedede;
  padding: 10px 10px 10px 10px;
}
/*speakers-------------start-------------------------------------*/
  #myspeakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;

   
  }

  #myspeakers .card {
    justify-content: flex-start;
    margin: 1em;
    width: 60vw;
    background-color: transparent;
    border-style: none;
    flex-direction: row;
  }

  #myspeakers .card .speaker-details .avator img {
    width: 18vw;
    height: 20vh;
    object-fit: cover;
  }

  #myspeakers .card .speaker-details {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }

  #myspeakers .card .speaker-details .personal-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto; 
    text-align: left;
    margin-left: 5%;
  }

  #myspeakers .card .speaker-details .personal-details h4 {
    color: #272a31;
    font-weight: bold;
  }

  #myspeakers .card .speaker-details .personal-details .role {
    color: #ec5242;
  }

  #myspeakers .card .speaker-details .personal-details .current-role {
    color: #272a31;
  }

  /*---------------speakers end------------------------------------*/
footer #hidden {
  visibility: hidden;
}

#landing-p h3 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#venue {
  color: #1f1d1d;
}

/*desktop css*/

@media (min-width: 768px) {
  body {
    margin: 0%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }

  .top-nav .nav-item .nav-link {
    color: #fff;
  }

  /*speakers-------------start-------------------------------------*/
  #myspeakers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;

   
  }

  #myspeakers .card {
    justify-content: flex-start;
    margin: 1em;
    width: 45%;
    background-color: transparent;
    border-style: none;
    flex-direction: row;
  }

  #myspeakers .card .speaker-details .avator img {
    width: 20vw;
    height: 33vh;
    object-fit: cover;
  }

  .mobileMenu {
    visibility: hidden;
  }

  #myspeakers .card .speaker-details {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }

  #myspeakers .card .speaker-details .personal-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto; 
    text-align: left;
    margin-left: 5%;
  }

  #myspeakers .card .speaker-details .personal-details h4 {
    color: #272a31;
    font-weight: bold;
  }

  #myspeakers .card .speaker-details .personal-details .role {
    color: #ec5242;
  }

  #myspeakers .card .speaker-details .personal-details .current-role {
    color: #272a31;
  }

  /*---------------speakers end------------------------------------*/

  .program .program-title {
    align-items: center;
    justify-content: center;
  }

  .program-title .col #line {
    width: 10vw;
    color: #ec5242;
    border: 2px solid #ec5242;
    opacity: 1;
    margin: auto;
  }

  .top-nav {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 10px;
  }

  #navbarNav {
    padding-right: 3%;
    width: 60px;
  }

  #logo {
    visibility: visible;
    position: absolute;
    margin-left: 12%;
    position: inherit;
    zoom: 65%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
  }

  .patners {
    color: white;
    font-size: 25px;
  }

  .logo1 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }

  .logo1 .col img {
    width: 10vw;
    height: 20vh;
    align-self: center;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    background-color: #e5e5e5;
  }

  .footer-logo img {
    zoom: normal;
  }

  .card {
    background-color: rgb(58, 61, 68, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }

  .cards {
    margin: 0;
    gap: 0.2rem;
  }

  .lead {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
  }

  .card .card-body .card-title {
    color: #ec5242;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    gap: 4em;
  }

  .card-body p {
    display: flex;
    justify-content: stretch;
  }

  .card-img-top {
    width: 4em;
  }

  .cards {
    justify-content: center;
  }

  .btm-nav {
    padding-top: 0;
    padding-bottom: 0;
  }

  #landing-p {
    background-image: url(./images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .program {
    background-image: url(./images/progBac.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-toggle1 {
    color: #fff;
  }

  .program .program-title h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
  }

  .program .program-title .mt-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #landing-p h2 {
    width: auto;
    font-size: 3vw;
    color: #ec5242;
    font-weight: bolder;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #ec5242;
    background-image: url(./images/board.png);
    background-repeat: repeat;
    background-clip: border-box;
    background-size: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #landing-p h1 {
    color: #ec5242;
  }

  #landing-p h3 {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
  }

  #intro {
    font: 1em sans-serif;
    background-color: #f7f7f7;
    border: 4px solid #dedede;
    padding: 10px 10px 10px 10px;
  }

  #landing-p h3 {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #venue {
    color: #1f1d1d;
  }
}
